:root {
    --main-color:#3E87C6;
}

#header, #footer {
  background-color: var(--main-color);
  color:white;
  height: 70px;
  text-align:center;
}

#header{
  padding:10px;
}

#footer{
  margin-top: 20px;
  padding: 20px 0px;
}

.searchEngine, .searchMsg  {
  padding: 40px;
  text-align:center;
}

/*All inputs Container*/
.inputsContainer {
  margin: 50px;
  padding-left:60px;

}

.container:after{
    content: " ";
    display: block;
    clear: both;
}

/*Input fields - 1st column*/
#inputText, #inputLicense{
  display: inline-block;
  margin-right: 50px;
}

/*Input fields - 2nd column*/
#inputStars, #inputForked{
  margin-right: 50px;
  display: inline-block;
}

#inputForked{
  margin-top: 30px;
  width:300px;
  text-align: left;
}

/*Input fields except Checkbox*/
.inputClass {
  width: 300px;
  height:50px;
}

input[type="checkbox"] {
    zoom: 2;
    color:red;
}

/*Input fields labels except Checkbox */
.label{
  float:left;
  font-size: 14px;
}

/*Input fields labels - Checkbox*/
#checkboxLabel {
  margin-left:20px;
}

/*Submit Button*/
.btn.btn-primary{
  font-size:15px;
  background-color: var(--main-color);
  font-weight: bold;
  padding:10px 50px;
  margin-top:20px;
  margin-bottom:70px;
}

/* Url link */
a {
  font-weight: bolder;
}

/*Divider*/
hr{
  color: grey;
  background-color: grey;
  height: 5;
}
