:root {
    --main-color:#3E87C6;
}


.App {
  /*text-align: center;*/
  margin:auto;
}

a {
  font-weight: bolder;
}

#logo{
  padding-right: 500px;
}

#footer, #header {
  background-color: var(--main-color);
  color:white;
  height: 70px;
  /*text-align:center;*/
}

#header{
  padding:10px;
}

#footer{
  margin-top: 20px;
  padding: 20px 0px;
  /*text-align:center;*/
}



.searchEngine, .searchMsg  {
  padding: 50px;
  /*text-align:center;*/
}

.inputClass, .label {
  display:block;
}

.label{
  font-size: 15px;
  margin-bottom: 1px;
}

#div1, #div3{
/*float:left;*/
margin-right:20px;

}
#div2, #div4{
/*float:left;*/
}

br{
  clear:both;
}



.inputsContainer {
  margin: 50px;
}


.btn.btn-primary{
  font-size:15px;
  font-weight: bold;
  padding:10px 50px;
}
