
/*
.container{
  margin:100px;
}
*/
.form-group {
  width:400px;
  /*margin:auto;*/

  text-align:center;
  display: inline-block;
}

.label{
  font-size: 15px;
  margin: 1px;

  /*text-align:left;*/
  display: block;
}

#checkboxLabel{
  text-align:left;
}

.form-group label{
  /*margin:auto;*/

  /*text-align:left;*/
  display: block;
}

input, label {
    display:block;
}

#div1{
float:left;
margin-right:20px;

}
#div2{
float:left;
}
