/* inspired by: https://css-tricks.com/responsive-data-tables/ */

:root {
    --line-color: grey;
}

.responsiveTable {
  width: 95%;
  border: 1px solid var(--line-color) !important; /* red */
  margin:20px;
  padding:100px !important;
  font-size: 17px;
}

/* Table Style */
.responsiveTable table,
.responsiveTable thead,
.responsiveTable tbody,
.responsiveTable th,
.responsiveTable td,
.responsiveTable tr {
  font-weight: normal;

}

.responsiveTable th, td {
border-left: 1px solid var(--line-color) !important;
padding:10px;


}




/*Stars and License*/
.responsiveTable td:nth-child(2), td:nth-child(3) {
  font-weight: bold;

}

/* Stars and License Columns */
th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3) {
  text-align: center;
  width:150px;
  font-size:15px;

}

.responsiveTable td .tdBefore {
  display: none;
}

/* Row Style */
@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    /*border: 2px solid #39D1B4; /* blue */
    display: block;
    width:auto;

  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /*border-bottom: 1px solid red !important;*/
  }



  .responsiveTable tbody tr {
    /*border: 1px solid #000;*/
    padding: .25em;

  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(20% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    /*border: 2px solid #DD4B39 !important;*/
    /*border: 2px solid #DD4B39 !important;*/

  }




  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(20% - 15px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    /*font-weight: 600;*/
    font-weight:normal;
    /*font-weight: bold;*/



  }

  .responsiveTable td:first-child{
  /* border: 1px solid #DD4B39 !important; */ /*Green*/
   padding-left: calc(10% + 10px) !important;


 }


   .responsiveTable  td:nth-child(2){
     border-top: 1px solid var(--line-color) !important;
     border-bottom: 1px solid var(--line-color) !important;
   }

}
